.auth-parent{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.auth-parent h1{
    font-size: 22px;
    font-weight: bold;
}
.auth-parent form{
    width: 400px;
    box-shadow: 0 0 3px gray;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.247) !important;
}